@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

*{
  font-family: 'Figtree', sans-serif;
}

#completed {
  width: 80%;
  color: rgb(155, 159, 159);
  font-weight: 500;
  text-decoration: line-through;
}

#uncompleted {
  width: 80%;
  color: rgb(35, 36, 36);
  background-color: rgb(239, 246, 243);
  font-weight: 500;
}

#outerDiv {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  background-color: rgb(62, 183, 210);
  padding: 10px;
  align-items: center;
  height: 200vh;
}

#inputDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 40px;
}

#inputDiv input{
  height: 30px;
  width: 400px;
  margin-right: 10px;
  font-size: medium;
}

#toDoItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(239, 246, 243);
  width: 40%;
  margin-top: 10px;
}

button {
  height: 30px;
  width: 30px;
  background-color: rgb(233, 101, 45);
  color: white;
  font-weight: 900;
  font-size: large;
  border: none;
}

#completeButton {
  margin: 5px;
  background-color: rgb(35, 138, 68);
}

#deleteButton {
  margin: 5px;
  background-color: rgb(196, 62, 62);
}

